/*******************************
    GENERAL PAGE SETTINGS
********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

/*******************************
    HEADER SETTINGS
********************************/
/* nav rules */
nav {
    height: 10vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
/* nav img container */
.nav-img-container{
    display: flex;
}
/* nav img */
.nav-img-container img{
    width: 50px;
    height: 50px;
    align-self: center;
}
/* nav h1 rules */
nav h1{
    align-self: center;
    font-weight: 900;
}
/* nav form container */
.nav-form-container{
    display: flex;
    justify-content: space-between;

}
.nav-form-container select,
.nav-form-container label {
    display: block;
    align-self: center;
    margin-right: 1rem;
}
/* nav button */
nav button {
    position: relative;
    right: 0;
    align-self: center;
    width: 70px;
    max-height: 30px;
}
/*******************************
    MAIN SETTINGS
********************************/
main {
    height: 80vh;
    width: 100%;
}

section.bg-acquamarine {
background-color: aquamarine;
height: 100%;
width: 100%;
display: flex;
}

div.gride {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    align-self: center;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}


div.gride .square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div.gride .square:active{
    background-color: rgb(0, 183, 255);
}

div.gride .square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square.clicked {
    background-color: aqua;
}
/* medium difficult */
div.gride .squarem {
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.gride .squarem:active {
    background-color: rgb(0, 183, 255);
}

.squarem.clicked{
    background-color: aqua;
}
/* hard difficult */
div.gride .squareh {
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.gride .squareh:active {
    background-color: rgb(0, 183, 255);
}

.squareh.clicked {
    background-color: aqua;
}


/*******************************
    FOOTER SETTINGS
********************************/
footer{
    height: 5vh;
}
.footer-section {
    padding: 1rem;
    display: flex;
}
.footer-section p {
    display: block;
    align-self: center;
}